In [8]:
# A simple print statement is 
print ('hello world') #whatever message you want to print is given in quotes (single/double)
# if you want to print the varible value, pass the name of the variable without any quotes
print_ = 'python demo' #print_ is a varibale having value 'python demo'
a=2+3
print (print_)
print(a)

hello world
python demo
5

In [9]:
x = 12 # stores an integer value
type (x) #type(): use to check type of the value that is stored

int

In [10]:
x = true # stores an integer value
type (x) #type(): use to check type of the value that is stored

NameError: name 'true' is not defined

In [11]:
x = hello # stores an integer value
type (x) #type(): use to check type of the value that is stored
int

NameError: name 'hello' is not defined

In [12]:
x = 12.5 #stores a decimal value
type(x)
# In above eg we have used x to store 12 and here also we used the same x to store value 12.5, hence the variable value 
# is now modified to 12.5

float

In [13]:
x = 12.56789729213383849384864 #stores a decimal value
type(x)
# In above eg we have used x to store 12 and here also we used the same x to store value 12.5, hence the variable value 
# is now modified to 12.5

float

In [14]:
#In python we store complex values as a+bj
comp_ = 3+4j
type(comp_)

complex

In [2]:
#Arithmatic Operators: (+,-,*,/,//,%)
print (3+4) #addition
print (5-2) #Subtraction
print (6*2) #Multiplication
print (10/3) #Division
print (10//3) #Floor division (quotient is rounded off to nearest integer)
print (14%3) #Returns the remainder of the division

7
3
12
3.3333333333333335
3
2

In [16]:
#comparision operators:
#comparision operators compare the two values and return boolean (True and False)
a = 9
b = 3
print (a > b) #greater then
print (a < b) #less then
print (a >= b) #greater then equal to
print (a <= b) #less then equal to
print (a != b) #Not equals to
print (a == b) #equals to

True
False
True
False
True
False

In [3]:
# Assignment Operators:
# it assigns the value to whatever variable on the left side
a = 5 #assigning value to variable a
b = 6 #assigning value to variable b
a += b #assigning value to a after addition of b to it
print (a)
#Similarly we have a-=b , a*=b , a/=b, a//=b and a%=b

11

In [4]:
#Logical operators: (and, or, not)
#and returns true when all conditions with and are true for eg:
a = 5
b = 6 
c = 'demo'
print (a!=b and c=='demo') #since both conditions are True it returns True
print (a==b and c=='demo') #since one condition is false it returns False
#or return true if any of the conditions given is True for eg:
print (a==b or c=='demo') #since any of the conditions given is true it returns true
#not returns the inverse of true or false for eg
print (not(True)) #inverse of true is false

True
False
True
False

In [5]:
a="I AM A BOY"
a.lowercase()

AttributeError: 'str' object has no attribute 'lowercase'

In [6]:
a="I AM A BOY"
a.lowercase

AttributeError: 'str' object has no attribute 'lowercase'

In [ ]:
a="I AM A BOY"

In [7]:
a.lowercase

AttributeError: 'str' object has no attribute 'lowercase'

In [8]:
a="I AM A BOY"
a.lower

In [ ]:
a="I AM A BOY"

In [12]:
a.lower()

'python is top most programming language'

In [10]:
a='Python is top most programming language' 
a.lower()

'python is top most programming language'

In [13]:
a="I AM A BOY"
a.lower()

'i am a boy'

In [14]:
a.upper()

'I AM A BOY'

In [15]:
b="He is a man"

In [16]:
b.upper()

'HE IS A MAN'

In [17]:
b.capitalize()

'He is a man'

In [19]:
# Python code for implementation of isupper()
  
# checking for uppercase characters
string1 = 'GEEKSFORGEEKS'
print(string1.isupper())
  
string2 = 'GeeksforGeeks'
print(string2.isupper())

True
False

In [20]:
string2 = 'GeeksforGeeks'
print(string2.islower())

False

In [21]:
string2 = 'geeksforgeeks'
print(string2.islower())

True

In [22]:
string2[0:7:8]

'g'

In [24]:
string2[0:8:9]

'g'

In [25]:
string2[8:7:9]

''

In [26]:
string2[1:7:9]

'e'

In [27]:
string2[1:8:9]

'e'

In [28]:
#A string is simply defined in single quotes or double quotes as follows: 
x = '   This is a demo string to show string operations.  '
print (x.lower()) #Converts string to lower case
print (x.upper()) #converts string to upper case
x.lstrip() #remove unwanted spaces from the left side

   this is a demo string to show string operations.
   THIS IS A DEMO STRING TO SHOW STRING OPERATIONS.

'This is a demo string to show string operations.  '

In [29]:
#A string is simply defined in single quotes or double quotes as follows: 
x = '   This is a demo string to show string operations.  '
print (x.lower()) #Converts string to lower case
print (x.upper()) #converts string to upper case
x.strip() #remove unwanted spaces from the left side

   this is a demo string to show string operations.
   THIS IS A DEMO STRING TO SHOW STRING OPERATIONS.

'This is a demo string to show string operations.'

In [30]:
#A string is simply defined in single quotes or double quotes as follows: 
x = '   This is a demo string to show string operations.  '
print (x.lower()) #Converts string to lower case
print (x.upper()) #converts string to upper case
x.rstrip() #remove unwanted spaces from the right side

   this is a demo string to show string operations.
   THIS IS A DEMO STRING TO SHOW STRING OPERATIONS.

'   This is a demo string to show string operations.'

In [31]:
print (x.startswith(' ')) #checks whether the string starts with given initials and return boolean
print (x.endswith(' ')) #checks whether string ends with given initials and return boolean

True
True

In [2]:
x

'This is a demo string to show string operations.  '

In [33]:
x.find('string') #finds the given string in the whole string and returns its starting index

18

In [35]:
x="thia ia ai"
x.find('ai')

8

In [36]:
x.count("ai")

1

In [37]:
x.replace('ia','is') #replaces old string with the new string

'this is ai'

In [40]:
p = x.split(' ') #split the give string and returns a list 
p

['thia', 'ia', 'ai']

In [41]:
" ".join(p)

'thia ia ai'

In [42]:
' #'.join(p)

'thia #ia #ai'

In [44]:
print(x[-2:-1])

a

In [3]:
print(y[0:])

NameError: name 'y' is not defined

In [4]:
#Slicing: (Start:stop:step)
#Gives a part of a string it takes three values, bascially the start is the starting point of the string (default is index 0 )
#Stop is the ending point of part if not given default is the last of the string
#value of step by default is 1
y ='This is a demo string to show string operations'
#    0123456789
print (y[0:])
print (y[0:5])
print (y[-10:])
print (y[:-1])

This is a demo string to show string operations
This
operations
This is a demo string to show string operation

In [5]:
print (y[:-2])

This is a demo string to show string operatio

In [6]:
print (y[2:])

is is a demo string to show string operations

In [7]:
print (y[1:])

his is a demo string to show string operations

In [8]:
print (y[-1:])

s

In [1]:
print (y[-2:])

NameError: name 'y' is not defined